<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="css/style.css">
    
    <title>Simplifica Contabilidade</title>
</head>
<body>
    <div class="container">
        <header>
          <div class="logo_empresa">
                <h1 class="titulo">Simplifica Contabilidade</h1>
         </div>

         <div class="informacoes">
            <ul class="ul">
                <li><a class="group" href="contrate">CONTRATE</a></li>
                <li><a class="group" href="#contato">CONTATO</a></li>
                <li><a class="group" href="#servicos">SERVIÇOS</a></li>
                <li><a class="group" href="lista">LISTA</a></li>
            </ul> 
         </div>
        </header>
    </div>

    <div class="container">
        {{{body}}}
    </div>
</body>
</html>