<form action="cadastro" method="post">

    <div class="formulario">
        <label for="razao">Razao Social</label>
        <input type="text" name="razao">
    </div>

   <div class="formulario">
        <label for="capital">Capital Social</label>
        <input type="text" name="capital">
    </div>

    <button type="submit">Enviar</button>

</form>