<div class="planos">    
    <div class="plano">
        <h3>BÁSICO</h3>
        <span>a partir de</span>
        <p class="valor">R$ 190,00</p>
        <ul>
            <li>Contabilidade completa <img src="img/aceitar.png" alt="Icone de correto" width="20px" height="20px">
            </li>
            <li>Processo de abertura grátis <img src="img/aceitar.png" alt="" width="20px" height="20px"></li>
            <li>Abertura sem sair de casa <img src="img/cruz.png" alt="" width="20px" height="20px"></li>
            <li>Faturamento mensal até R$ 10.000,00</li>
            <li>Especialista no seu segmento <img src="img/cruz.png" alt="Icone de negado" width="20px" height="20px">
            </li>
        </ul>
        <button class="contratar" type="submit"><a class="contratar" href="/cadastro">Contratar</a></button>
    </div>

    <div class="plano">
        <h3>PADRÃO</h3>
        <span>a partir de</span>
        <p class="valor">R$ 230,00</p>
        <ul>
            <li>Contabilidade completa <img src="img/aceitar.png" alt="Icone de correto" width="20px" height="20px">
            </li>
            <li>Processo de abertura grátis <img src="img/aceitar.png" alt="Icone de correto" width="20px"
                    height="20px"></li>
            <li>Abertura sem sair de casa <img src="img/aceitar.png" alt="Icone de correto" width="20px" height="20px">
            </li>
            <li>Faturamento mensal até R$ 50.000,00</li>
            <li>Especialista no seu segmento <img src="img/cruz.png" alt="Icone de negado" width="20px" height="20px">
            </li>
        </ul>
        <button class="contratar" type="submit"><a class="contratar" href="/cadastro">Contratar</a></button>
    </div>

    <div class="plano">
        <h3>FULL</h3>
        <span>a partir de</span>
        <p class="valor">R$ 270,00</p>
        <ul>
            <li>Contabilidade completa <img src="img/aceitar.png" alt="Icone de correto" width="20px" height="20px">
            </li>
            <li>Processo de abertura grátis <img src="img/aceitar.png" alt="" width="20px" height="20px"></li>
            <li>Abertura sem sair de casa <img src="img/aceitar.png" alt="Icone de correto" width="20px" height="20px">
            </li>
            <li>Faturamento mensal até R$ 100.000,00</li>
            <li>Especialista no seu segmento <img src="img/aceitar.png" alt="Icone de correto" width="20px"
                    height="20px"></li>
        </ul>
        <button class="contratar" type="submit"><a class="contratar" href="/cadastro">Contratar</a></button>
    </div>


</div>