<div class="inicio">
    <div class="quem_somos">
        <h1>QUEM SOMOS?</h1>
    </div>

    <div>
        <ul class="grid">
            <li class="contabilidade">
                <h2>Somos um escritório voltado aos cuidados burocráticos de gestão contábil de pequenas, médias e
                    grandes empresas. Também atendemos empresários, autônomos, diretos e pessoas que necessitem de
                    auxilio com documentação, imposto de renda e aposentadoria. Nosso foco está voltado para um trabalho
                    de confiança, estando sempre disponíveis a atender suas necessidades.</h2>
            </li>
            <img src="img/animacao.png" alt="Serviços de contabilidade">
        </ul>
    </div>

    <div class="servicos" id="servicos">
        <a id="servicos" href=""></a>
        <h1>CONHEÇA NOSSOS SERVIÇOS</h1>
        <div class="servicos1">
            <div class="item">
                <div class="img"><img src="img/assessoria.png" alt="hospedagens"></div>
                <h3>Assessoria</h3>
                <p>Admissão, holerites, fechamento de folha de pagamento, férias, demissão, recolhimento de GPS (INSS) e
                    GFIP (FGTS), entre outros.</p>
            </div>

            <div class="item">
                <div class="img"><img src="img/assessoria contabil.png" alt="pacote de viagens"></div>
                <h3>Assessoria Contabil</h3>
                <p>Emissão de notas fiscais, apuração do faturamento mensal, trimestral, anual, emissão de guias, Darfs,
                    entre outros.</p>
            </div>

            <div class="item">
                <div class="img"><img src="img/rh.png" alt="roteiros personalizados"></div>
                <h3>RH</h3>
                <p>Te ajudamos na abertura da sua empresa, alterações contratuais, emissão de certidões negativas,
                    blocos de notas fiscais, entre outros.</p>
            </div>

            <div class="item">
                <div class="img"><img src="img/legalizacao empresarial.png" alt="roteiros personalizados"></div>
                <h3>Legalização empresarial</h3>
                <p>Te ajudamos na abertura da sua empresa, alterações contratuais, emissão de certidões negativas,
                    blocos de notas fiscais, entre outros.</p>
            </div>
        </div>
    </div>
    <div class="Contato">
          <a id="contato"></a>  <div class="form">
                <div class="fale_conosco">
                <h3>Fale Conosco</h3>
                </div>
                <input type="text" class="forms" placeholder="Nome" id="nome">
                <input type="tel" class="forms" placeholder="Telefone" id="telefone">
                <input type="email" class="forms" placeholder="Email" id="email">
                <textarea class="mensagem" name="mensagem" placeholder="Mensagem" id="mensagem" cols="30"
                    rows="10"></textarea><br>
                <label class="verificar" for="">Aceito receber o contato da empresa <br> simplifica contabilidade<input class="checkbox" type="checkbox" id="checkbox"> </label>
                <input type="button" value="Enviar" class="enviar">
            </div>
                 <div class="localizacao">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.5220580950736!2d-38.38932668591289!3d-12.938410762647116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x71617406c5e77d3%3A0x4ec6a2c9c19397b1!2sSENAI%20CIMATEC!5e0!3m2!1spt-BR!2sbr!4v1655195149417!5m2!1spt-BR!2sbr" width="500" height="240" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
</div>