<div class="pagina_login">
    <form action="login" class="entrar">

        <h3>SIMPLIFIQUE CONTABILIDADE</h3>

        <div class="formulario">
            <label class="label" for="login">Login</label>
            <input type="text" name="login" class="logar" placeholder="CNPJ">
        </div>

        <div class="formulario">
            <label class="label" for="capital">Senha</label>
            <input type="password" name="capital" class="logar" placeholder="SENHA" id="senha_login">
        </div>

        <button type="submit" class="enviar1"> <a href="sistema">Entrar</a></button>
    </form>
</div>