<div class="container">
  <div class="row">
    {{#each clientes}} 
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
            <p class="card-title">Nome: {{razao}}</p>
            <p class="card-text">Capital: {{capital}}</p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>