<div class="sistema">
    {{#each cliente}}
    <div class="grid_sistema">
        <p class="grid1">Razão Social: {{razao}}</p>
        <p class="grid1">Capital: {{capital}}</p>
        <p class="grid1">Responsável da Empresa: {{responsavel}}</p>
        <p class="grid1">CNPJ: {{CNPJ}}</p>
    </div>
    {{/each}}
</div>